body {
    font-family: 'Poppins', sans-serif;
}

/* strat Header */


.header {
    background-image: url(../img/1.50daee303ba3760115aa.png);
    height: 100vh!important;
    background-repeat: no-repeat;
    margin-top: 0;
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.navbar {
    box-shadow: none;
    margin-top: 20px;
    padding: 27px;
    padding-left: 0;
    padding-right: 0;
    background: rgba(255,255,255,.05) !important;
    height: 0;
    z-index: 3;
}

.navbar .nav-item .nav-link {
    color: #777777;
    font-size: 15px;
    font-weight: 500;
    padding-right: 20px;
}

.navbar .nav-item .nav-link:hover {
    color: #18e7d3 !important;
}

.header .home1 {
    position: absolute;
    top: 200px;
    left: 120px;
    animation: floating 5s linear infinite;
    -webkit-animation: floating 5s linear infinite;
}

.header .home2 {
    position: absolute;
    z-index: 1;
    top: 230px;
    right: -70px;
    animation: floating 5s linear infinite;
    -webkit-animation: floating 5s linear infinite;
}

.header .home3 {
    position: absolute;
    top: 360px;
    right: -109px;
    animation: floating 5s linear infinite;
    -webkit-animation: floating 5s linear infinite;
}

@keyframes floating 
{
    0%
    {
        transform: translate(-50%,-50%) ;
        -webkit-transform: translate(-50%,-50%) ;
        -moz-transform: translate(-50%,-50%) ;
        -ms-transform: translate(-50%,-50%) ;
        -o-transform: translate(-50%,-50%) ;
}

    50%
    {
        transform: translate(-50%,-35%);
        -webkit-transform: translate(-50%,-35%);
        -moz-transform: translate(-50%,-35%);
        -ms-transform: translate(-50%,-35%);
        -o-transform: translate(-50%,-35%);
}

    100%
    {
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
}

@-webkit-keyframes floating 
{
    0%
    {
        transform: translate(-50%,-50%) ;
        -webkit-transform: translate(-50%,-50%) ;
        -moz-transform: translate(-50%,-50%) ;
        -ms-transform: translate(-50%,-50%) ;
        -o-transform: translate(-50%,-50%) ;
}

    50%
    {
        transform: translate(-50%,-35%);
        -webkit-transform: translate(-50%,-35%);
        -moz-transform: translate(-50%,-35%);
        -ms-transform: translate(-50%,-35%);
        -o-transform: translate(-50%,-35%);
}

    100%
    {
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
}





.header .home {
    align-items: center;
    margin-top: 35vh;
}

.header .home h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .14em;
}

.header .home h1 {
    color: #18e7d3;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -5px;

}

.header .home h1 span {
    font-weight: bold;
    letter-spacing: normal;
    
}

.header .home h1 {
    color: #18e7d3;
}

.header .home h1 .app {
    color: #444444;
}

.header .home p {
    color: #777777;
    font-size: 15px;
    margin-bottom: 18px;
    letter-spacing: .03em;
    text-transform: capitalize;
}


.header .image {
    width: 90%;
    float: right;
    position: absolute;
    right: -19%;
    top: -10px;
    z-index: 2;
}

.header .image img {
    float: right;
}

/* End Header */


/* start About */

.about {
    background-image: url(../img/about-bg.422e0378637eab69704b.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
    position: relative;
    align-items: center;
    padding-top: 7vh;
}

.about .home1 {
    position: absolute;
    right: -67px;
    top: auto;
    bottom: 95px;
    animation: floating 3s linear infinite;
    -webkit-animation: floating 3s linear infinite;
}

.about .home2 {
    position: absolute;
    top: 80%;
    right: -109px;
    animation: floating 3.8s linear infinite;
    -webkit-animation: floating 3.8s linear infinite;
}


@keyframes floating 
{
    0% 
    {
        transform: translate(-50%,-50%) ;
        -webkit-transform: translate(-50%,-50%) ;
        -moz-transform: translate(-50%,-50%) ;
        -ms-transform: translate(-50%,-50%) ;
        -o-transform: translate(-50%,-50%) ;
}

    50%
    {
        transform: translate(-50%,-35%);
        -webkit-transform: translate(-50%,-35%);
        -moz-transform: translate(-50%,-35%);
        -ms-transform: translate(-50%,-35%);
        -o-transform: translate(-50%,-35%);
}

    100%
    {
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
}

@-webkit-keyframes floating 
{
    0%
    {
        transform: translate(-50%,-50%) ;
        -webkit-transform: translate(-50%,-50%) ;
        -moz-transform: translate(-50%,-50%) ;
        -ms-transform: translate(-50%,-50%) ;
        -o-transform: translate(-50%,-50%) ;
}

    50%
    {
        transform: translate(-50%,-35%);
        -webkit-transform: translate(-50%,-35%);
        -moz-transform: translate(-50%,-35%);
        -ms-transform: translate(-50%,-35%);
        -o-transform: translate(-50%,-35%);
}

    100%
    {
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
}



.about-text {
    padding-left: 10px;
}

.about .about-text h2 {
    text-transform: capitalize;
    color: #444444;
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.about .about-text h2 span {
    text-transform: uppercase;
    color: #444;
    font-size: 30px;
    font-weight: 700;
}

.about .about-text p {
    text-transform: capitalize;
    color: #777777;
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: .03em;

}

.about .about-text ul {
    list-style: none;
}

.about .about-text .icon {
    position: absolute;
    left: 15px;
    border: 1px solid #e6e6e6;
    padding: 10px;
    border-radius: 50%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    width: 45px;
    height: 45px;
    text-align: center;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.about .about-text .icon:hover {
    background-color: #18e7d3;
}

.about .text h3 {
    font-size: 16px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 30px;
    text-transform: capitalize;
    letter-spacing: 1px;
}




.about .about-text .btn {
    background-image: -webkit-gradient(linear,left top,right top,from(#19d3dc),color-stop(#18e7d3),color-stop(#18e7d3),to(#19d2dd));
    background-image: linear-gradient(90deg,#19d3dc,#18e7d3,#18e7d3,#19d2dd);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    margin-left: 15px;
}

.about .about-text .btn:hover {
    color: #fff;
}


.about .about-right {
    margin-top: -80px;
    background: #18e7d3;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#18e7d3),color-stop(99%,#19d0de));
    background: linear-gradient(180deg,#18e7d3 0,#19d0de 99%);
    border-radius: 100%;
    height: 500px;
    width: 500px;
    line-height: 500px;
    float: right;
    -webkit-box-pack: center;
    justify-content: center;
}



/* End About */


/* start Feature */


.feature {
    background-image: url(../img/feature-bg.81d842ef3fe1930c955b.png);
    background-size: 100% 100%;
    min-height: 855px;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    padding-top: 15vh;
}

.feature .home1 {
    position: absolute;
    top: 80%;
    right: -50px;
    animation: floating 3.8s linear infinite;
    -webkit-animation: floating 3.8s linear infinite;
}


@keyframes floating 
{
    0% 
    {
        transform: translate(-50%,-50%) ;
        -webkit-transform: translate(-50%,-50%) ;
        -moz-transform: translate(-50%,-50%) ;
        -ms-transform: translate(-50%,-50%) ;
        -o-transform: translate(-50%,-50%) ;
}

    50%
    {
        transform: translate(-50%,-35%);
        -webkit-transform: translate(-50%,-35%);
        -moz-transform: translate(-50%,-35%);
        -ms-transform: translate(-50%,-35%);
        -o-transform: translate(-50%,-35%);
}

    100%
    {
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
}

@-webkit-keyframes floating 
{
    0%
    {
        transform: translate(-50%,-50%) ;
        -webkit-transform: translate(-50%,-50%) ;
        -moz-transform: translate(-50%,-50%) ;
        -ms-transform: translate(-50%,-50%) ;
        -o-transform: translate(-50%,-50%) ;
}

    50%
    {
        transform: translate(-50%,-35%);
        -webkit-transform: translate(-50%,-35%);
        -moz-transform: translate(-50%,-35%);
        -ms-transform: translate(-50%,-35%);
        -o-transform: translate(-50%,-35%);
}

    100%
    {
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
}

.feature .feature-phone {
    position: absolute;
    top: -50px;
    left: -50px;
}

.feature .feature-phone img {
    width: 70%;
}

.feature .feature-text h2 {
    text-transform: capitalize;
    color: #444444;
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.feature .feature-text h2 span {
    text-transform: uppercase;
    color: #444;
    font-size: 30px;
    font-weight: 700;
}

.feature .feature-text p {
    text-transform: capitalize;
    color: #777777;
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: .03em;
    margin-left: -25px;
}

.feature .feature-text ul {
    list-style: none;
}

.feature .feature-text .icon {
    position: absolute;
    left: 15px;
    padding: 10px;
    
    width: 45px;
    height: 45px;
    text-align: center;
}


.feature .text h3 {
    font-size: 15px;
    padding-left: 8px;
    padding-top: 11px;
    padding-bottom: 7px;
    line-height: 28px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
}


/* End Feature */


/* Start Screenshot */

.screenshot {
    background-image: url(../img/screenshot-bg.a7bc3d5685c7846ba2ba.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -100px;
    position: relative;
    background-position: 50%;
    padding-top: 30px;
    padding-bottom: 100px;
    background-size: unset;
}

.screenshot .home1 {
    position: absolute;
    top: 265px;
    right: 25%;
    animation: floating 5s linear infinite;
    -webkit-animation: floating 5s linear infinite;
}

.screenshot .home2 {
    position: absolute;
    z-index: 1;
    top: 320px;
    right: 15%;
    animation: floating 2.5s linear infinite;
    -webkit-animation: floating 2.5s linear infinite;
}

.screenshot .home3 {
    position: absolute;
    top: auto;
    left: 35%;
    bottom: 0;
    animation: floating 3.9s linear infinite;
    -webkit-animation: floating 3.9s linear infinite;
}


@keyframes floating 
{
    0% 
    {
        transform: translate(-50%,-50%) ;
        -webkit-transform: translate(-50%,-50%) ;
        -moz-transform: translate(-50%,-50%) ;
        -ms-transform: translate(-50%,-50%) ;
        -o-transform: translate(-50%,-50%) ;
}

    50%
    {
        transform: translate(-50%,-35%);
        -webkit-transform: translate(-50%,-35%);
        -moz-transform: translate(-50%,-35%);
        -ms-transform: translate(-50%,-35%);
        -o-transform: translate(-50%,-35%);
}

    100%
    {
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
}

@-webkit-keyframes floating 
{
    0%
    {
        transform: translate(-50%,-50%) ;
        -webkit-transform: translate(-50%,-50%) ;
        -moz-transform: translate(-50%,-50%) ;
        -ms-transform: translate(-50%,-50%) ;
        -o-transform: translate(-50%,-50%) ;
}

    50%
    {
        transform: translate(-50%,-35%);
        -webkit-transform: translate(-50%,-35%);
        -moz-transform: translate(-50%,-35%);
        -ms-transform: translate(-50%,-35%);
        -o-transform: translate(-50%,-35%);
}

    100%
    {
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
}



.screenshot .screenshot-carosul img{
    position: absolute;
    z-index: 2;
    width: 217px;
    left: 462px;
    top: 258px;
    height: 443px;
}

.screenshot .carousel-inner img {
    width: 100%;
}

.screenshot .carousel-inner {
    height: 100vh;
    width: 100%;
    padding-top: 300px;
}

.screenshot .carousel-inner .carousel-item {
    width: 60%;
    margin-top: 13px;
}

.screenshot .controls-top {
    padding-top: 60px;
}

.screenshot .carousel-multi-item .controls-top .btn-floating {
    background-color: #444444;

}

.screenshot .controls-top .btn-floating {
    line-height: 47px;
    color: #18e7d3;
}

/* End Screenshot */


/* Start Team */

.team {
    background-image: url(../img/team-bg.489b89c5d00222eabcba.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: 0 10%;
    height: 100vh;
    padding-top: 100px;
}


.team .home1 {
    position: absolute;
    top: 285px;
    left: 118px;
    animation: floating 2.8s linear infinite;
    -webkit-animation: floating 2.8s linear infinite;
}

.team .home2 {
    position: absolute;
    z-index: 1;
    top: auto;
    left: 90px;
    bottom: 85px;
    animation: floating 3s linear infinite;
    -webkit-animation: floating 3s linear infinite;
}

.team .home3 {
    position: absolute;
    top: 390px;
    left: 86%;
    bottom: -150px;
    animation: floating 4.9s linear infinite;
    -webkit-animation: floating 4.9s linear infinite;
}


@keyframes floating 
{
    0% 
    {
        transform: translate(-50%,-50%) ;
        -webkit-transform: translate(-50%,-50%) ;
        -moz-transform: translate(-50%,-50%) ;
        -ms-transform: translate(-50%,-50%) ;
        -o-transform: translate(-50%,-50%) ;
}

    50%
    {
        transform: translate(-50%,-35%);
        -webkit-transform: translate(-50%,-35%);
        -moz-transform: translate(-50%,-35%);
        -ms-transform: translate(-50%,-35%);
        -o-transform: translate(-50%,-35%);
}

    100%
    {
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
}

@-webkit-keyframes floating 
{
    0%
    {
        transform: translate(-50%,-50%) ;
        -webkit-transform: translate(-50%,-50%) ;
        -moz-transform: translate(-50%,-50%) ;
        -ms-transform: translate(-50%,-50%) ;
        -o-transform: translate(-50%,-50%) ;
}

    50%
    {
        transform: translate(-50%,-35%);
        -webkit-transform: translate(-50%,-35%);
        -moz-transform: translate(-50%,-35%);
        -ms-transform: translate(-50%,-35%);
        -o-transform: translate(-50%,-35%);
}

    100%
    {
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
}


.team .our-team {
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 400;
    color: #444;
}

.team .our-team span {
    font-weight: 700;
}

.team .carousel-multi-item {
    width: 100%;
}

.team .card {
    background-image: url(../img/team-img-bg.995db0cdb0e99cfd39eb.png);
    width: 100%;
    height: auto;
}

.team .card .card-body {
    background-color: #fff;
    margin: 30px;
    padding: 20px;
}

.team .card .team-img {
    text-align: center;
}

.team .card .team-img img {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin: 0 auto;
}

.team .card .team-text {
    text-transform: uppercase;
}

.team .card .team-text h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1em;
    color: #444444;
    margin-top: 30px;
    margin-bottom: 12px;
}

.team .card .team-text h6 {
    margin-bottom: 15px;
    font-size: 12px;
    letter-spacing: .1em;
    color: #777777;
    font-weight: 600;
}

.team .card .social {
    position: relative;
    padding-top: 15px;
    text-align: center;
    
}

.team .card .social ul {
    list-style: none;
    padding: 0;
}

.team .card .social ul li {
    display: inline-block;
    margin: 0 2px;
    margin: 0 2px 20px;
}



.team .card .social ul li a {
    border: 1px solid#ddd;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    padding: 8px;
    text-align: center;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.carousel-multi-item .carousel-indicators li {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#18e7d3),to(#19d0de));
    border: 1px solid #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}


.team .card .social ul li a svg:not(:root).svg-inline--fa {
    font-size: 14px;
    width: 20px;
    color: #444;
}


/* End Team */



/* Start Blog */


.blog {
    
    padding-top: 100px;
}



.blog .our-blog {
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 400;
    color: #444;
}

.blog .our-blog span {
    font-weight: 700;
}

.blog .carousel-multi-item {
    width: 100%;
}

.blog .card {
    background-image: url(../img/team-img-bg.995db0cdb0e99cfd39eb.png);
    width: 100%;
    height: auto;
    padding: 15px;
    position: relative;
}

.blog .card .card-body {
    background-color: #fff;
    margin: 0;
    padding: 5px;
}

.blog .card .blog-img {
    text-align: center;
}

.blog .card .blog-img img {
    width: 100%;
    margin: 0 auto;
    transition: .5s all ease-in-out;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
}

.blog .card-body {
    overflow: hidden;

}

.blog .card .card-body:hover img {
   transform: scale(1.1) rotate(2deg);
   -webkit-transform: scale(1.1) rotate(2deg);
   -moz-transform: scale(1.1) rotate(2deg);
   -ms-transform: scale(1.1) rotate(2deg);
   -o-transform: scale(1.1) rotate(2deg);
}


.blog .blog-text h6 {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .1em;
    color: #777777;
    margin-top: 30px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.blog .blog-text h3 {
    margin-top: 15px;
    line-height: 24px;
    font-size: 17px;
    letter-spacing: 1;
    color: #444444;
    font-weight: 600;
}

.blog .blog-text h5 {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .1em;
    color: #777777;
    margin-top: 30px;
    margin-bottom: 12px;
    text-transform: capitalize;
}


/* End Blog */


/* Start price */
.price {
   background-image: url(../img/price.f43c74964f73acc849a6.png);
   position: relative;
   background-size: cover;
   background-repeat: no-repeat;
   padding-top: 100px;
}

.price .carousel-multi-item {
    width: 100%;
}

.price .carousel-inner .card {
    background-color: #fff;
    width: 100%;
    margin: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 27px 0 rgba(0,0,0,.09);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.price .card .price-type {
    background-image: url(../img/price-bg.b824d3fba07722a2eb83.png);
    background-size: cover;
    padding: 10px;
}



.price .card h2  {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    color: #18e7d3;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin: 0;
}

.price .card:hover .only h2 {
    color: #18e7d3;
}

.price .card .only h6 {
    font-weight: 400;
    color: #444;
    margin-bottom: 25px;
    line-height: 1;
    font-size: 12px;
    margin-top: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.price .card .priceing {
    height: 1px;
    background-color: #eee;
    width: 245px;
    margin: 0 auto;
}

.price .card .only h2 {
    font-size: 36px;
    line-height: 1;
    margin-top: 30px;
    color: #333;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.price .card .only h5 {
    font-weight: 700;
    margin: 5px 5px 30px;
    line-height: 1;
    font-size: 12px;
    color: #777777;
}

.price .card ul {
    list-style: none;
    margin: 20px auto;
    padding-left: 0;

}

.price .card ul li {
    padding: 10px;
    text-transform: capitalize;
    color: #777;
    font-size: 15px;
}

.price .card .btn {
    color: #fff;
    padding: 11px 25px;
    width: 100%;
    font-size: 14px;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 10px 25px;
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(90deg,#19d3dc,#18e7d3,#18e7d3,#19d2dd);
}


/* End price */

/* Start testimonial */

.testimonial {
    background-image: url(../img/testimonial-bg.87684073c2e9f618302f.png);
    position: relative;
    height: 100vh;
    background-size: contain;
    margin-top: 0;
    align-content: center;
    padding-top: 150px;
}

.testimonial .home1 {
    position: absolute;
    left: 170px;
    top: auto;
    bottom: 0;
    animation: floating 3s linear infinite;
    -webkit-animation: floating 3s linear infinite;
}

.testimonial .home2 {
    position: absolute;
    z-index: 1;
    top: auto;
    right: -50px;
    bottom: 85px;
    animation: floating 3s linear infinite;
    -webkit-animation: floating 3s linear infinite;
}

@keyframes floating 
{
    0% 
    {
        transform: translate(-50%,-50%) ;
        -webkit-transform: translate(-50%,-50%) ;
        -moz-transform: translate(-50%,-50%) ;
        -ms-transform: translate(-50%,-50%) ;
        -o-transform: translate(-50%,-50%) ;
}

    50%
    {
        transform: translate(-50%,-35%);
        -webkit-transform: translate(-50%,-35%);
        -moz-transform: translate(-50%,-35%);
        -ms-transform: translate(-50%,-35%);
        -o-transform: translate(-50%,-35%);
}

    100%
    {
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
}

@-webkit-keyframes floating 
{
    0%
    {
        transform: translate(-50%,-50%) ;
        -webkit-transform: translate(-50%,-50%) ;
        -moz-transform: translate(-50%,-50%) ;
        -ms-transform: translate(-50%,-50%) ;
        -o-transform: translate(-50%,-50%) ;
}

    50%
    {
        transform: translate(-50%,-35%);
        -webkit-transform: translate(-50%,-35%);
        -moz-transform: translate(-50%,-35%);
        -ms-transform: translate(-50%,-35%);
        -o-transform: translate(-50%,-35%);
}

    100%
    {
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
}


.testimonial .image img {
    background-image: url(../img/Testimonial.1d138656ce80f62fc1c1.png);
    border-radius: 100%;
    height: 125px;
    width: 125px;
    line-height: 105px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    background-size: cover;
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
}

.testimonial .text {
    width: 75%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 5px 27px 0 rgba(0,0,0,.05);
}

.testimonial .text p {
    padding-top: 80px;
    padding-bottom: 20px;
    line-height: 1.8em;
    font-size: 15px;
    color: #777;
    letter-spacing: .03em;
    text-transform: capitalize;
    width: 80%;
    margin: 0 auto;
}

.testimonial .text h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1em;
    color: #18e7d3;
    margin-top: 30px;
    margin-bottom: 12px;
}

.testimonial .text h6 {
    margin-bottom: 15px;
    font-size: 12px;
    letter-spacing: .1em;
    color: #777777;
    font-weight: 600;
    padding-bottom: 20px;

}

/* End testimonial */


/* start contact */

.contact {
    background-image: url(../img/Contact.8f36161376ce6af7011c.png);
    position: relative;
    background-size: cover;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact .home1 {
    position: absolute;
    bottom: 210px;
    left: 380px;
    animation: floating 3s linear infinite;
    -webkit-animation: floating 3s linear infinite;
}

.contact .home2 {
    position: absolute;
    bottom: 20px;
    left: 350px;
    animation: floating 3s linear infinite;
    -webkit-animation: floating 3s linear infinite;
}

@keyframes floating 
{
    0% 
    {
        transform: translate(-50%,-50%) ;
        -webkit-transform: translate(-50%,-50%) ;
        -moz-transform: translate(-50%,-50%) ;
        -ms-transform: translate(-50%,-50%) ;
        -o-transform: translate(-50%,-50%) ;
}

    50%
    {
        transform: translate(-50%,-35%);
        -webkit-transform: translate(-50%,-35%);
        -moz-transform: translate(-50%,-35%);
        -ms-transform: translate(-50%,-35%);
        -o-transform: translate(-50%,-35%);
}

    100%
    {
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
}

@-webkit-keyframes floating 
{
    0%
    {
        transform: translate(-50%,-50%) ;
        -webkit-transform: translate(-50%,-50%) ;
        -moz-transform: translate(-50%,-50%) ;
        -ms-transform: translate(-50%,-50%) ;
        -o-transform: translate(-50%,-50%) ;
}

    50%
    {
        transform: translate(-50%,-35%);
        -webkit-transform: translate(-50%,-35%);
        -moz-transform: translate(-50%,-35%);
        -ms-transform: translate(-50%,-35%);
        -o-transform: translate(-50%,-35%);
}

    100%
    {
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
}


.contact .contact-us h2 {
    text-transform: capitalize;
    color: #444444;
    font-size: 30px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.contact .contact-us h2 span {
    text-transform: uppercase;
    color: #444;
    font-size: 30px;
    font-weight: 700;
}

.contact .form-control {
    margin-bottom: 25px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 13px;
    color: #777777;
    padding: 1.375rem 0.75rem;
}

.contact textarea {
    height: 100px;
}

.contact .group .button {
    text-align: right;
    margin-right: -5px;
}

.contact .group .button .btn {
    padding: 12px 50px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #18e7d3;
    color: #777777;
}

.contact .group .button .btn:hover {
    color: #fff;
}


section h2 {
    text-transform: capitalize;
    color: #444444;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

section h2 span {
    text-transform: uppercase;
    color: #444;
    font-size: 30px;
    font-weight: 700;
}

section p {
    text-transform: capitalize;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 25px;
    color: #777777;
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: .03em;
}

section .form-control {
    margin-bottom: 25px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    font-size: 13px;
    color: #ced4da;
    padding: 1.800rem 0.75rem;
    text-align: center;
    text-transform: uppercase;
}

section .btn {
    padding: 12px 50px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #18e7d3;
    color: #777777 !important;

}

section .btn:hover {
    color: #fff;
}

.footer p {
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    background-color: #f8f9fa;
    line-height: 1.8em;
    font-size: 15px;
    color: #777;
    letter-spacing: .03em;
    text-transform: capitalize;
    font-weight: 400;
}

/* End contact */




/* Responsiv */


@media (max-width: 991px) {

    .header .home {
        margin-top: 20vh;
    }

    .header .image {
        width: 120%;
        top: 83px;
        right: -25%;
    }

    .navbar-collapse {
        background: #fff !important;
    }

    .about .about-text h2 {
        font-size: 26px;
    }

    .about .about-text p {
        font-size: 13px;
    }

    .about .text h3 {
        font-size: 14px;
    }

    .about .about-right {
        height: 350px;
        width: 350px;
        margin-top: 0px;
    }

    .about .about-right img {
        margin-top: -160px;
    }

    .feature .feature-phone {
        top: 0;
    }

    .screenshot .screenshot-carosul img {
        width: 214px;
        left: 256px;
        top: 259px;
        height: 442px;
    }

    .screenshot .carousel-inner .carousel-item {
        width: 100%;
    }

    .team .home3 {
        display: none;
    }

    .contact .contact-image {
        display: none;
    }

    .contact .group .button {
        text-align: center;
    }

}


@media (max-width: 768px) {

    .header .home {
        text-align: center;
        margin-top: 20vh;
    }

    .header .image {
        display: none;
    }

    .header .home3 {
        display: none;
    }

    .header .home h4 {
        font-size: 15px;
        font-weight: 600;
    }

    .header .home h1 {
        font-size: 40px;
    }

    .header .home p {
        font-size: 14px;
        letter-spacing: 0.02em;
    }

    .navbar-collapse {
        background: #fff !important;
    }

    .about .button {
        width: 100%;
        text-align: center;
    }

    .about .about-text h2 , .about .about-text p ,
    .feature .feature-text h2 , .team .our-team ,
    .blog .our-blog ,.contact .contact-us h2 , .blog-text
    {
        text-align: center;
    }

    .about {
        margin-bottom: 50px;
    }

    .about .about-right {
        display: none;
    }

    .about .home2 {
        display: none;
    }

    .about .about-text .btn {
        text-align: center;
    }

    
    .feature {
        background-image: none;
        padding-top: 0;
    }

    .feature .feature-phone {
        display: none;
    }

    .screenshot {
        margin-top: 0;
        background-repeat: no-repeat;
        background-size: 225% 78%;
        margin-top: -150px;
        align-items: center;
        position: relative;
        background-position: 50%;
        padding-bottom: 20px;
    }

    .screenshot .carousel-inner {
        width: 100%;
        padding-top: 225px;
    }

    .screenshot .screenshot-carosul img {
        display: none;
    }

    .screenshot .carousel-inner .carousel-item {
        width: 45%;
    }

    .screenshot .controls-top {
        padding-top: 0;
    }

    .team {
        padding-top: 0;
    }

    .team .home1, .home2, .home3 {
        display: none;
    }

    .blog {
        padding-top: 50px;
    }

    .price .carousel-inner .card {
        width: 91%;
    }

    .testimonial .home1 {
        display: none;
    }

    .contact .contact-image {
        display: none;
    }

    .contact .group .button {
        text-align: center;
    }

    
   

}


@media (max-width: 480px) {

    .contact .home1 {
        display: none;
    }

}